a{
     font-size: clamp(8px, 5vw, 1rem);
    font-family: Copperplate, Papyrus, fantasy;
    font-weight: 900;
    font-variant: small-caps;
    font-size: large;
}
      



a:hover{
    color: rgb(18, 210, 31);
    font-family: "Sofia", sans-serif;
    font-size: 25px;
    text-shadow: 3px 3px 3px #ababab;
}
  